[2021-04-12 08:34] raesene opened #30 "Kubernetes Hardening Guide"
**What would you like to be added**

As part of SIG-Security-Docs, we've been discussing the creation of a hardening guide for Kubernetes. We've got an initial document for the guide's creation here https://docs.google.com/document/d/1teb42X_c5_k8PNOSEEEbVnEr9aVAwWJXezBuf5fdmZU/edit

**Why is this needed**

The goal of the hardening guide is to provide guidance to cluster operators about how they

[2021-06-03 16:53] rficcaglia opened #8 "Cluster-API Security Self-Assessment Initiative"
This is to consolidate info and inform all the interested folks regarding discussions around security assessment of cluster-api sub-project.

This is our first attempt as a community where a Security SIG will perform a security assessment of a sub-project of a graduated CNCF project. So we expect to make slow but reasonable progress and will be open for feedback on how we can improve for the benef

[2021-07-07 14:33] reylejano opened #13 "Kubernetes Third-Party Security Audit for 2021-22 (tracking issue)"
Tracking issue for the Kubernetes third-party security audit for 2021:
- [X] Create RFP
  - [X] Audit scope
  - [X] Finalize dates: RFP opening and closing dates, question period, vendor selection
  - [X] Complete question period and publish questions & replies to RFP
- [x] Vendor assessment
  - [x] Assemble vendor assessment group
  - [x] Create private Google group
- [x] Release vendor selection

[2021-07-29 21:26] PushkarJ opened #3 "[Umbrella] Artifact Vulnerability Scanning and Triage Policy"
**Goal**: Implement automated scanning capabilities that are tool agnostic for identifying vulnerabilities in Kubernetes related artifacts, followed by a documented private triage process to resolve the identified vulnerability, with a programmable way for Kubernetes users to consume this vulnerability information.

## Background
Over the years, multiple different community members in Security Res

[2021-07-29 22:22] PushkarJ opened #2 "[Umbrella] Security Assessment Process for Kubernetes sub-projects"
**Goal**: Define, execute and improve on a community driven security assessment process for kubernetes sub-projects, which is self-service and welcomes beginners without prior security background to engage and contribute

## Background

CNCF TAG Security has a well established [process](https://github.com/cncf/tag-security/tree/main/assessments) for project maintainers to engage them in a security

[2021-07-30 04:15] PushkarJ opened #1 "Create a periodically auto-refreshing list of fixed CVEs"
With growing number of eyes on Kubernetes, the number of CVEs related to Kubernetes have increased. Although most CVEs are regularly fixed that directly or indirectly or transitively impact Kubernetes, there is no single place to programmatically subscribe or pull the data of fixed CVEs, for the end users of Kubernetes.

### Current State of the Art

All these options are broken or incomplete:

1.

[2021-08-20 00:34] PushkarJ opened #4 "Identify a list of container images under Kubernetes Org"
### **Background**
There are lot of places where images related to Kubernetes can be found:
1. Container image manifests and yamls: https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io
2. Base Image exception list: https://github.com/kubernetes/sig-release/blob/master/release-engineering/baseimage-exception-list.md
3. SBOM: (Software Bill of Materials) @puerco: any pointers on how to parse th

[2021-09-14 18:15] sftim commented on #1
We can almost certainly also consume that through Hugo and render a summary on https://k8s.io/

[2021-09-16 20:42] PushkarJ commented on #1
@tabbysable @tallclair as SIG Security and SRC members, can you please confirm that you are in favor of this feature by commenting `+1` to this issue. The progress on this issue is currently blocked, because of missing written consensus from SIG-Security and SRC as per [this](https://github.com/kubernetes/test-infra/pull/23428#issuecomment-910861881) comment

[2021-09-24 23:48] PushkarJ opened #6 "Create a list of alert-worthy events for Kubernetes"
Action item from https://github.com/kubernetes/website/pull/29791/files#r715134850

/sig security docs
/kind feature

[2021-09-26 03:26] PushkarJ commented on #4
Fixed by https://github.com/kubernetes/test-infra/pull/23419

[2021-09-26 03:26] #4 closed

[2021-09-26 12:35] savitharaghunathan opened #7 "Kubernetes Admission Control Threat Model"
Rory McCune is working on a threat model for K8s admission control.
For now, creating this tracking issue. More details will be updated soon.

cc: @raesene

/sig security docs

[2021-10-02 08:30] raesene commented on #7
Current draft is open for comments/additions/corrections - https://docs.google.com/document/d/1tQTZ6wrD2udbUGL7xhc3SRxqyTvS8FQUlL59KHYHcY8/edit?usp=sharing

[2021-10-20 23:24] PushkarJ opened #9 "Move artifacts from k/community to k/sig-security"
**What?**

Create the following set of directory structure:

`k/sig-security`:
- `sig-security-docs`:
   - Refactor this to here: https://github.com/kubernetes/community/blob/master/sig-security/sig-security-docs/OWNERS
- `sig-security-external-audit`:
   - Move all of this here: https://github.com/kubernetes/community/tree/master/sig-security/sig-security-external-audit
   - Move all of this here

[2021-10-20 23:31] PushkarJ opened #10 "Rename k/community/sig-security links to k/sig-security"
**What?**

Once this refactoring issue is closed: https://github.com/kubernetes/sig-security/issues/9, we need to find markdown entries in https://github.com/kubernetes/community/tree/master/sig-security and https://github.com/kubernetes/sig-security that have broken links and change them to correct entries

**How?**

This will need two PRs:

* Clone k/community, open a code editor, search for `"h

[2021-10-20 23:45] PushkarJ opened #11 "Build a Project Board"
**What?**

Could be as simple as Todo, In-progress and Done

**How?**
Actually do not have a good idea, but somebody has done this before for a small, medium or large project, would love to see them pick this up.

One good example: https://github.com/kubernetes/website/projects/11

**Why?**

To have co-chairs and sub-project leads + contributors to have one place to find out what is going on in si

[2021-10-21 05:07] chetak123 commented on #9
/assign @chetak123

[2021-10-26 02:48] chetak123 opened #14 "Request to add PR template along with proper README.md"
Hey @PushkarJ I saw that this repository is new and soon it will be populated with directory structure https://github.com/kubernetes/sig-security/issues/9. I would like to add proper Repository README.md and PR template (.github) for better contribution.

Any advice for README.md or addition of any other things would be really helpful.

[2021-10-31 04:07] ShivamTyagi12345 commented on #11
I have applied for a membership @PushkarJ .Thank you for your support

[2021-11-04 22:59] PushkarJ commented on #2
/area security-assessment

(Trying out the new label that was merged today)

[2021-11-05 16:55] PushkarJ commented on #11
Closing this now, after review of the board in the SIG Security meeting, which was received well. Also, confirmed with Github Admins that this board can not be added to `Projects` tab in the `k/sig-security` repo as that is not possible for Org. Level boards and K8s Org discourages use of repo level boards.

Thank you for your help on this @ShivamTyagi12345

[2021-11-05 16:55] #11 closed

[2021-11-06 04:44] tabbysable commented on #9
@PushkarJ when I was reviewing https://github.com/kubernetes/sig-security/pull/12 I asked for the directory structure to be matched to the old one from `k/community`, but I see here you requested it specifically.

I think that because our subproject names are fairly general terms on their own (`docs` and `tooling` especially) that it could be a little misleading to have the directory names as just

[2021-11-06 19:42] PushkarJ commented on #9
Hi Tabby, thank you for reviewing!! I did not think about mapping the directory names to channel names for consistency earlier but I like the idea. Changed the original description as per your suggestion now.

@chetak123 please go ahead and make the renaming changes @tabbysable suggested in the PR for adding new files and then we should be good to go

[2021-11-19 22:17] PushkarJ commented on #9
With https://github.com/kubernetes/sig-security/pull/12 and https://github.com/kubernetes/community/pull/6176 merged, closing this ticket. Thank you again @chetak123 for working on this!!

[2021-11-19 22:17] #9 closed

[2021-11-22 18:27] PushkarJ commented on #10
@Evalle https://github.com/kubernetes/sig-security/issues/9 is now complete! Feel free to begin work on this now, if you'd like!

[2021-11-30 18:40] #10 closed

[2021-12-02 16:54] savitharaghunathan opened #20 "Update README.md with sig-security information"
Mirror README.md from - https://github.com/kubernetes/community/tree/master/sig-security

/good-first-issue

[2021-12-02 18:19] PushkarJ commented on #20
@savitharaghunathan maybe there is an opportunity to combine this with this one: https://github.com/kubernetes/sig-security/issues/14

[2021-12-02 18:22] savitharaghunathan commented on #20
Ha thanks. I will mark this as a duplicate and close it.

[2021-12-02 18:23] savitharaghunathan commented on #20
Duplicate issue. See #14.
/close

[2021-12-02 18:23] #20 closed

[2021-12-02 18:28] PushkarJ commented on #14
@chetak123 , take a look at issue description for #20 from @savitharaghunathan . It has some good ideas about what to put in the README

[2021-12-02 23:00] PushkarJ commented on #1
Just for everyone keeping track of this issue: We got a go ahead for starting work on this idea as KEP after merging the pre-requisite PR: https://github.com/kubernetes/test-infra/pull/23428 . All the linked issues are coming from this [filter](https://github.com/kubernetes/kubernetes/issues?q=is%3Aissue+in%3Abody+%22CVSS%3A3.%22+label%3Acommittee%2Fsecurity-response+is%3Aclosed+).

Request @tabby

[2021-12-02 23:01] PushkarJ commented on #1
/assign @nehaLohia27

(She is going to get the ball rolling on the KEP)

[2021-12-02 23:09] tabbysable commented on #1
PR is open to update SRC documentation: https://github.com/kubernetes/committee-security-response/pull/133

[2021-12-06 16:45] xing-yang opened #21 "REQUEST: Security Assessment for vsphere-csi-driver"
**Is this a Kubernetes sub-project?**

Yes

**Please tell us a bit about your sub-project**

vSphere CSI driver is a volume plug-in that runs in a native Kubernetes cluster deployed in vSphere and is responsible for provisioning persistent volumes on vSphere storage.
Repo: https://github.com/kubernetes-sigs/vsphere-csi-driver

**Do you have a preferred timeline for completing the security assessme

[2021-12-07 22:50] k8s-triage-robot opened #22 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 04:23] justaugustus commented on #22
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:23] #22 closed

[2021-12-08 22:51] k8s-triage-robot opened #23 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 02:59] justaugustus commented on #23
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 03:00] #23 closed

[2021-12-27 15:35] reylejano commented on #3
/remove-lifecycle stale

[2021-12-31 16:10] savitharaghunathan commented on #7
/remove-lifecycle stale

[2022-01-04 17:31] nehaLohia27 opened #25 "Docs for scanning known vulnerabilities in container images"
Creating this issue to document the periodic scanning process for container images . Please refer to this PR for the work done. https://github.com/kubernetes/test-infra/pull/23419

Umbrella issue : https://github.com/kubernetes/sig-security/issues/3

There is a similar doc created for build time dependencies also . Reference PR: https://github.com/kubernetes/sig-security/pull/16

[2022-01-04 19:38] jan0ski commented on #25
I'd be happy to take this on!

[2022-01-04 19:47] PushkarJ commented on #25
/assign @jan0ski

yay, thank you Tommy for taking this on :-)

[2022-01-06 17:06] savitharaghunathan opened #28 "Create a security checklist for deploying a cluster"
While there are many checklists available, this could be a recommended checklist for ensuring security in Kubernetes clusters.

Overall guidance:
* Avoid 3rd party tools
* Avoid linking to documentation outside of K8s website (as it might not be maintained)
* If you identify a section that needs more documentation, please create an issue and tag sig-security.

Potential checklist sections:
Cluster

[2022-01-06 17:07] savitharaghunathan commented on #28
/sig security docs

[2022-01-06 17:07] savitharaghunathan commented on #25
/sig security docs

[2022-01-06 17:08] savitharaghunathan commented on #25
@PushkarJ do we have a label for tooling?

[2022-01-06 17:09] savitharaghunathan commented on #6
/remove-lifecycle stale

[2022-01-06 17:10] savitharaghunathan commented on #6
@PushkarJ I am not able to find more context on this. If you get sometime can you add some context? Thanks :)

[2022-01-06 17:43] savitharaghunathan opened #29 "Blog post: Kubernetes SLSA Level 1 support"
This is a tracking issue and will be updated shortly

/assign @puerco @savitharaghunathan

[2022-01-06 17:43] savitharaghunathan commented on #29
/sig security docs

[2022-01-06 20:12] PushkarJ commented on #8
/remove-lifecycle stale

[2022-01-07 00:20] PushkarJ commented on #25
@savitharaghunathan: Nope I have just added sig security label for all the tooling work so far.

[2022-01-07 00:30] PushkarJ commented on #25
https://github.com/kubernetes/sig-security/pull/26 is now merged that addresses this issue.

/close

[2022-01-07 00:30] #25 closed

[2022-01-08 17:02] sftim commented on #1
Would anyone like help on this? I can try to provide advice on next steps.

[2022-01-09 02:35] sbs2001 commented on #1
@sftim  I would be happy to help. Let me know the next steps.

[2022-01-10 15:47] sftim commented on #1
Here's the key / blocking challenge:

if someone's picking this up who knows Prow: great! Feel free to get started on work to generate that document and publish it.
if you're new to Prow but would like help, SIG Testing are the folks who can ask. It's also OK to reply here to ask for advice.

(personally, I don't have much experience with Prow)

[2022-01-10 17:22] PushkarJ commented on #1
@sbs2001 As Tim suggested the prow job work is the main piece that needs help. @nehaLohia27 has a lot of context on this issue (and a little on prow) so please connect with her as well if you start exploring this.

[2022-01-18 22:36] PushkarJ commented on #8
Just wanted to leave some updates here for folks who stumble upon this and are wondering what's the current status:

- The group collaborates and meets regularly on [tag-security-assess-capi](https://kubernetes.slack.com/archives/C022K4F2W4W)
- The scope is limited to Cluster API AWS provider focussing on two flows: workload control plane node creation and workload control plane node worker node c

[2022-01-20 05:12] oliverchang commented on #1
Hi there! https://osv.dev maintainer here.

We'd love for Kubernetes to be able to publish its feed of vulnerabilities in our machine readable [OSV format](https://ossf.github.io/osv-schema/). We developed this format in collaboration with many in the open source community, including GitHub. This has so far been adopted by [many other open source vulnerability feeds](https://github.com/google/osv#

[2022-01-20 09:08] sftim commented on #1
Sounds reasonable. Maybe some other project already has tooling we can borrow ideas from.
Also, if we want to publish the equivalent data in another format as well one day, that should be feasible (we don't have to settle on OSV only).

[2022-01-20 22:23] PushkarJ commented on #1
Agree with the suggestion on OSV. I have added a to-do to support OSV format. Once the data munging is ready, will let everyone know so we can start publishing the CVEs in OSV, JSON and maybe other formats too.

[2022-01-20 23:12] PushkarJ opened #32 "Configure a Prow Job that creates a k/website PR"
# What

 This issue describes how to achieve that by creating a prow job that automates PR creation to k/website when a new CVE is announced

# Why

As part of #1 , we need an automation to update `k/website` page that will host the list of known CVEs.

We will be borrowing heavily from prow [autobumper tool](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/generic-autobumper)

# How

[2022-01-21 19:23] PushkarJ opened #33 "Configure a prow job that writes CVE JSON data to GC bucket every hour"
# What

Create a Prow job that runs a Github query to create a JSON blob of CVE data and writes it to a GCB bucket

# Why

We need a way where Hugo can fetch always the latest data about officially announced CVEs. Google Cloud bucket seems like a simpler way to host that data

# How

- Example script that writes to GCB can be found [here](https://github.com/kubernetes/test-infra/blob/8bddea4df208e

[2022-01-22 14:27] sftim commented on #33
I guess also
/sig security

[2022-01-25 19:38] PurelyApplied commented on #13
These things take time, triage-bot.

/remove-lifecycle stale

Although, given the bleed-over, the this could be renamed `* for 2022`.

[2022-01-25 23:59] PushkarJ commented on #13
/retitle Kubernetes Third-Party Security Audit for 2021-22 (tracking issue)

[2022-02-03 08:57] mtardy commented on #28
Thanks Savitha! I think I would be glad to write the part about PodSecurity, I took a look at it recently ([here](https://github.com/kubernetes/website/pull/31602)) and found it very convenient to use! I could also try to handle the "Enabling seccomp" part also but don't want to take all the good stuff 😄!

I think we could discuss this at the next security documentation meeting, but for this check

[2022-02-03 14:22] savitharaghunathan commented on #28
Thanks @mtardy :) I am thinking that we will have a one liner and also a link to documentation if available. WDYT?

[2022-02-03 18:46] mtardy commented on #28
Yes I agree! I don't think it would be a good idea to repeat what is already well presented in the documentation, but a central page to refer to all the good security features of Kubernetes with a one liner to introduce them and why they are important would be great!

[2022-02-03 23:47] Skybound1 commented on #28
I'm happy to pick up Network Security and Secrets. Also, I agree on taking the approach of making this more summary based and linking to relevant detailed guides.

[2022-02-04 09:59] p4ck3t0 commented on #28
I can do the Container & Image scanning part. Also agreeing on the summary based approach.

[2022-02-04 13:24] p4ck3t0 commented on #28
What about confidential Kubernetes? I could link some interesting stuff to some open source projects, I was involved in.

[2022-02-08 18:39] savitharaghunathan commented on #28
@p4ck3t0 is confidential Kubernetes a part of the Kubernetes ecosystem or core concepts? We want to limit this checklist to that and avoid third party recommendations in order to keep it vendor neutral.

[2022-02-09 07:40] p4ck3t0 commented on #28
No it's not a core concept, I will focus on Container & Image scanning.

[2022-02-09 12:01] savitharaghunathan commented on #28
@p4ck3t0 would you like to create a blog post for this topic? It sounds like a beneficial topic.

[2022-02-09 13:52] p4ck3t0 commented on #28
@savitharaghunathan sure I want to write a short blog post about it. I just need to see if I could do both, Confidential Kubernetes blogpost and Container & Image scanning checklist.

[2022-02-10 17:14] Skybound1 commented on #28
Based of the conversation in Slack, also happy to pick up pod placement :)

[2022-02-10 17:17] savitharaghunathan commented on #28
Added a new task item and assigned it to you. Thanks, @Skybound1 :)

[2022-02-11 22:26] PushkarJ commented on #8
/retitle Cluster-API Security Self-Assessment Initiative

[2022-02-17 12:17] nehaLohia27 commented on #32
@PushkarJ  Had a call with @rajaskakodkar to discuss on prow job and pr-creator..If we use pr-creator only , this should be good enough. No need of autobumper tool as it is used mostly for bumping the images. There are 2 main tasks
1.  To create the wrapper script similar to: https://github.com/kubernetes/test-infra/blob/60549d3fa734ca0881514a2b764c4ac7f978a9f3/hack/autodeps.sh#L58. . this will ca

[2022-02-17 20:25] PushkarJ commented on #32
Awesome progress!! Thank you @rajaskakodkar for your time!!

For 1, yes hack directory seems fine. We can refactor to some other place if folks have feedback during PR time.
For 2, yes a new section of yaml that defines this as a separate job, in the existing [file](https://github.com/kubernetes/test-infra/blob/223540760a567bf26de4673045e6321d37dbe554/config/jobs/kubernetes/sig-k8s-infra/trusted/s

[2022-02-18 11:18] nehaLohia27 commented on #32
Thanks @PushkarJ for the info.
In the existing prow job yaml https://github.com/kubernetes/test-infra/blob/223540760a567bf26de4673045e6321d37dbe554/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml#L87
I think we need to change the dashboard name . Any other data change required ?

[2022-02-23 17:38] PushkarJ opened #36 "Create .gitignore file"
As with all repos, a `.gitignore` file helps with ensuring unneeded files are not accidentally added under git version control. We need one for k/sig-security repo that may look something like this at the root of the repo.

[code]

Example for a `.gitignore` file on k/k repo: https://github.com/kubernetes/kubernetes/blob/master/.gitignore

/sig security
/help-wanted
/good-first-issue

[2022-02-24 04:19] ShivamTyagi12345 commented on #36
/triage-accepted
👍🏽

[2022-03-01 17:09] PushkarJ opened #38 "Add feeds directory with OWNERS file under tooling sub-project"
Related to https://github.com/kubernetes/enhancements/issues/3203

1. We need a directory under which the JSON blob exists: `k/sig-security/sig-security-tooling/feeds/official-cve-feed.json`
1. Create an [OWNERS](https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md) file
  made of aliases.
  - The OWNERS file can include SRC alias `security-response-committee` and
  - A

[2022-03-02 03:31] nehaLohia27 opened #39 "Create a periodic prow job to implement KEP-3203"
Related to kubernetes/enhancements#3203

Create a periodic prow job to query GitHub API for new CVEs announced (every 5 minutes).
If new CVE announced, push the new content to`k/sig-security/sig-security-tooling/feeds/official-cve-feed.json`

This prow job will call the shell/golang/python script to query the github apis and populate the json with the below data.

The sample json format will be as

[2022-03-02 03:32] nehaLohia27 commented on #39
/sig security

[2022-03-02 03:33] nehaLohia27 commented on #39
/sig testing

[2022-03-02 03:36] nehaLohia27 commented on #39
/assign

[2022-03-03 19:18] chetak123 commented on #38
/assign @chetak123

[2022-03-03 19:21] PushkarJ commented on #38
@chetak123 thanks for assigning this. Currently we are discussing an alternative plan which may not need work on this issue [here](https://github.com/kubernetes/org/issues/3295#issuecomment-1057389966). So please hold off work on this, until we have consensus on approach

[2022-03-03 19:24] chetak123 commented on #38
OK sure

[2022-03-06 20:44] xing-yang commented on #21
/remove-lifecycle stale

[2022-03-09 03:44] nehaLohia27 commented on #39
@PushkarJ Thanks. The above flow sounds good. @sftim I would like to play with the build hook part . Will need some help on this. Let me go through the docs first and then we can connect for any queries.

[2022-03-09 21:59] PushkarJ commented on #39
Bucket request has been made here https://github.com/kubernetes/k8s.io/issues/3494

[2022-03-11 13:02] raesene commented on #7
D'ya think we can close this one now?

[2022-03-11 13:13] savitharaghunathan commented on #7
Thanks, Rory.
/close

[2022-03-11 13:13] #7 closed

[2022-03-11 13:31] raesene opened #41 "Kubernetes RBAC Best Practices Guide"
Following on from discussion at the last SIG-Security Docs meeting, there's an idea to have a Kubernetes RBAC best practices page. Covering topics like general good practices and also rights which could present a risk of privilege escalation.

In terms of location on the k/website , one idea was to place it under the [security concepts](https://kubernetes.io/docs/concepts/security/) page.

Working

[2022-03-11 13:37] raesene opened #42 "Kubernetes API Server Bypass Risks"
Based on a suggestion from @JimBugwadia on [slack](https://kubernetes.slack.com/archives/C8P1DRTJA/p1646415935134399?thread_ts=1646351143.746869&cid=C8P1DRTJA) an idea for a good page on the Kubernetes website would be to collate configurations or privileges which could allow a malicious user or attacker to bypass the API server. As many key security controls (e.g. Auditing and admission control)

[2022-03-11 13:49] christophetd commented on #41
To make it actionable, it would be nice if the following could be tackled:

- How can we identify highly privileged / potentially misconfigured (Cluster)Roles in a running cluster?
- How can we scan resource files for these, ahead of deployment time?

Some ideas (incomplete): [kubiscan](https://github.com/cyberark/KubiScan) (runtime), [regula](https://regula.dev/rules.html#kubernetes) (resource fi

[2022-03-11 16:31] raesene commented on #41
yeah if we can add tooling/review sections, I think that'd be useful. I think there's a couple of levels to work at. Describing general principles is useful in case the users case isn't specifically covered later (e.g. generally avoiding `*` is a good idea, but it probably can't be a hard and fast rule), and then tooling/hard examples are good as well for precise things that can be easily scanned/

[2022-03-15 15:51] PushkarJ opened #43 "Document previous learning sessions in SIG Security Tooling"
## Description

- Create a markdown table that lists all the learning sesions here: https://www.youtube.com/playlist?list=PLrQN4xC6U5D9I0LGJxZuXbfvi1qwPqcim to celebrate past presenters and encourage new speakers!

- Please note some of these are working session and some are learning sessions. For more context, refer the meeting minutes page: https://docs.google.com/document/d/1_Rn7S8UPMtXdu6EDl4_

[2022-03-15 16:06] PushkarJ opened #44 "Create a template for Requesting Learning sessions in SIG Security Tooling meeting"
## Description

We have had multiple learning sessions over the last 10 months or so. It's time to allow a more organized way to propose a learning session that a community member wants to give.

**Caveat**: No vendor pitches, no sales meetings. This will be only for topics related to kubernetes, security and community projects that are open source

/sig security
/kind cleanup

[2022-03-15 17:08] PushkarJ commented on #32
@sftim We need to externally trigger the build and also use GCS bucket.

Basically, Pull from GCS bucket and then generate the JSON file dynamically when we trigger the website build. Here's the relevant KEP [section](https://github.com/kubernetes/enhancements/pull/3204/files#diff-ed5b769a7ca6a409326fbdfa8bc2293f14300a5db1ad41a2dfe4c3d233797c24R271-R287)

[2022-03-16 14:56] nehaLohia27 commented on #39
Also the location of prow job can be the same as synk scan . We can create new yaml in the same location or update existing yaml also https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml

[2022-03-16 15:04] nehaLohia27 commented on #32
@PushkarJ I think we can close this issue as seems duplicate of #39. So that we can update issue #39 with the latest information.

[2022-03-16 15:21] PushkarJ commented on #32
/close

(in favor of #39)

[2022-03-16 15:21] #32 closed

[2022-03-17 03:10] PushkarJ commented on #39
@nehaLohia27 yes draft PR is always welcome! Looks like two things need to be implemented next in prow job:
1. Push to GCS bucket the JSON blob generated from Github API
2. Trigger k/website build and add json blob dynamically blob dynamically like here: https://github.com/kubernetes/website/compare/main...PushkarJ:generate-content

For GCS bucket, we may need to wait for it to get provisioned for

[2022-03-24 15:25] #36 closed

[2022-03-24 21:26] PushkarJ commented on #43
/good-first-issue
/help wanted

[2022-03-24 21:37] PushkarJ commented on #8
So far as a follow up on the security assessment, the following issues have been created:

- [cluster-api/issues/6153](https://github.com/kubernetes-sigs/cluster-api/issues/6153)
- [cluster-api/issues/6329](https://github.com/kubernetes-sigs/cluster-api/issues/6329)
- [cluster-api/issues/6152](https://github.com/kubernetes-sigs/cluster-api/issues/6152)
- [cluster-api/issues/6151](https://github.co

[2022-03-25 11:09] chetak123 commented on #43
/assign @chetak123

[2022-03-27 12:58] nehaLohia27 commented on #39
@PushkarJ I think we cannot create the draft PR in this repo because we are not going to store the script in this repo..May be I will work on prow job yaml and create the draft PR in test-infra. Should we create one separate prow job yaml under this location for cve https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml

For now

[2022-03-29 08:51] nehaLohia27 commented on #33
cc @rajaskakodkar

[2022-03-31 18:02] chetak123 commented on #43
Hey @mhammadsaani I am working on this issue (actually I was AFK for few days due to some personal work), and I will be making PR soon.

[2022-04-06 18:08] puerco commented on #29
/remove-lifecycle stale

[2022-04-10 19:20] #44 closed

[2022-04-21 21:10] PushkarJ commented on #1
/remove-lifecycle stale

(KEP is in progress)

[2022-04-28 14:58] PushkarJ commented on #3
/remove-lifecycle stale

[2022-05-01 19:51] #14 closed

[2022-05-06 19:55] sftim commented on #30
/remove-lifecycle rotten

Hope that's OK

[2022-05-10 17:18] PushkarJ commented on #6
/remove-lifecycle rotten

[2022-05-11 17:01] reylejano commented on #13
/remove-lifecycle stale

[2022-05-13 20:21] PushkarJ commented on #8
Project tracker to manage completion of identified issues can be found here: https://github.com/orgs/kubernetes/projects/83/views/1

[2022-05-27 13:15] mtardy commented on #41
Now that the RBAC good practice guide has been merged and is [available here](https://kubernetes.io/docs/concepts/security/rbac-good-practices/), should we close this issue?

[2022-05-27 13:49] savitharaghunathan commented on #41
/close

[2022-05-27 13:49] #41 closed

[2022-06-01 17:26] cailynse commented on #43
@chetak123 - is this issue closed by #47 ?

[2022-06-01 17:30] #43 closed

[2022-06-01 17:30] cailynse commented on #28
@Skybound1 - I'd love to pair on the Network Security section if you're up for it!

[2022-06-01 19:22] chetak123 commented on #38
Hey @PushkarJ I went through issue [3295](https://github.com/kubernetes/org/issues/3295) which says we don't require any robot account or fork, And I just wanted to confirm if this issue is still needed or not ?
Thanks.

[2022-06-01 19:59] PushkarJ commented on #38
@chetak123 Good catch. We do not need it for now. If things change in future I will re-open

/close

[2022-06-02 16:25] cailynse commented on #30
I'd be really interested in helping with this one!

[2022-06-06 22:21] PushkarJ commented on #21
/remove-lifecycle stale

@[aladewberry](https://github.com/aladewberry) this is the next project we could tackle for security self-assessment :)

[2022-06-15 17:04] salaxander opened #49 "REQUEST: Learning sessions on Eraser"
**Please tell us a bit more about the topic**
We would like to demo and get feedback on an open source project we've been working on to cleanup stale and vulnerable images on Kubernetes clusters -> https://github.com/Azure/eraser

**Please share speaker details**
@salaxander - available to present at the 6/30 or 7/14 meetings

**Explain the benefits to the community that this session provides**
Th

[2022-06-27 18:25] PushkarJ commented on #49
Thank you @salaxander would you be open to presenting this on July 5th SIG Security Tooling meeting (8:30 AM Pacific) ? The meeting dates you mentioned are for the SIG meetings whereas learning sessions are part of tooling sub-project which has its own meeting schedule

[2022-06-27 18:27] salaxander commented on #49
@PushkarJ That would be perfect!

[2022-06-30 04:17] nehaLohia27 commented on #39
/remove-lifecycle stale

[2022-06-30 16:51] PushkarJ commented on #21
/assign aladewberry

(Since you have already started to plan on how to proceed on this. Just assigning this to you for posterity)

[2022-07-06 22:15] salaxander commented on #49
Thanks for helping us get this setup @PushkarJ! Closing as the session has been completed

[2022-07-06 22:15] #49 closed

[2022-07-07 18:07] savitharaghunathan commented on #42
/remove-lifecycle stale

[2022-07-07 18:07] savitharaghunathan commented on #42
/assign @raesene

[2022-07-07 18:08] mtardy commented on #28
/remove-lifecycle rotten

[2022-07-07 18:11] savitharaghunathan opened #51 "Blog post on PSP history context"
Ref: https://kubernetes.slack.com/archives/C019LFTGNQ3/p1653483955189929

/assign @mtardy

[2022-07-07 18:11] savitharaghunathan commented on #51
/sig security

[2022-07-09 17:46] sftim commented on #28
@mtardy, https://github.com/kubernetes/website/pull/34873 added some sound advice - you might want to add that to the checklist too.

[2022-07-11 12:18] sftim commented on #28
I'm fine either way. I'm not sure how you frame a common misunderstanding as a checklist item, but if there's a way then I'm all for it.

[2022-07-12 22:27] PushkarJ commented on #33
/remove-lifecycle stale

[2022-07-13 10:46] raesene commented on #42
I've put some initial thoughts for this in a hackmd [here](https://hackmd.io/@raesene/r1FdqwKj5/edit) feel free to add/suggest changes :)

Once we've gathered some ideas, we can create a PR for k/website to get wider feedback

[2022-07-13 12:07] p4ck3t0 commented on #42
What is about the pause container? An attacker who can change the pause container image, also bypasses the API? :thinking:
Is that something we could add to that list?

[2022-07-13 13:49] raesene commented on #42
@p4ck3t0 so at the moment we're focusing more on how things are changed rather than what they'd change, but you raise a good point, in that people could modify container images either on-host or via the CRI daemon, and that's definitely worth including.

[2022-07-14 16:08] #8 closed

[2022-07-15 16:36] genevieveluyt opened #53 "REQUEST: Learning session on Shopify/kubeaudit"
**Please tell us a bit more about the topic**

[kubeaudit](https://github.com/Shopify/kubeaudit) is an open-source cli (and library) maintained by Shopify which helps with securing Kubernetes. We would like to demo kubeaudit and discuss the feasibility of donating it to CNCF as a k8s sub-project.

**Please share speaker details**

@genevieveluyt and @dani-santos-code

**If speaker is confirmed, pl

[2022-07-15 20:57] PushkarJ commented on #53
Thanks for sharing this @genevieveluyt! July 19 session would be a working session, so next available slot for learning session will be on Tuesday, Aug 2 8:30 AM to 9:15 AM pacific, as we alternate between learning and working sessions!

Would that work for you all?

[2022-07-15 21:47] aladewberry commented on #21
Quick update - I have a meeting scheduled with @xing-yang next week to get connected and figure out where to start.

[2022-07-18 16:34] genevieveluyt commented on #53
Hi @PushkarJ , my availability is somewhat in flux around that time. Aug 17 should work for both @dani-santos-code and I if that's still free!

[2022-07-18 16:38] PushkarJ commented on #53
Aug 16 should work @genevieveluyt . Please leave a comment a week before Aug 16, to confirm that the timeslot would still work for you :)

[2022-07-20 15:19] aladewberry commented on #21
Thank you! I'm still getting up to speed and will reach out when we starting taking steps!

[2022-07-27 17:40] PushkarJ commented on #3
/remove-lifecycle stale

[2022-07-28 12:24] romdalf opened #54 "REQUEST: Request a Learning session on Trousseau"
**Please tell us a bit more about the topic**
Following the CNCF Sandbox Inclusion Meeting feedback, we would like to share with you an overview of why, what, and how [Trousseau](https://github.com/ondat/trousseau) addresses the Secret Management using the Kubernetes KMS provider plugin constructs.
This session will be a walkthrough demo about the design, current status, roadmap and getting the SI

[2022-07-28 17:13] PushkarJ commented on #54
Thank you for submitting this!! @romdalf I see you are doing a presentation with CNCF TAG Security too: https://github.com/cncf/tag-security/issues/963

Would you like to host this session before or after the TAG Security presentation?

[2022-07-28 17:16] romdalf commented on #54
Hi @PushkarJ - happy to do it before if there is a convenient time slot to do so.

[2022-07-28 18:39] PushkarJ commented on #54
@romdalf we have #53 scheduled for Aug 16. So next date would be Sep 6 if that works for you.

I will let you know in case we can do it earlier but if not please leave a comment here as a reminder, end of August so I can start the background work to schedule this for Sept 6 :)

[2022-07-28 18:42] romdalf commented on #54
Thank you! September 6th is perfect and will comment as requested.

[2022-07-30 00:10] PushkarJ opened #56 "[Blog post] Current State of findings from Kubernetes Third Party Security Audit of 2019"
## Description
Write a blog post as pre-cursor to publication of third party security of audit 2021/22 that describes the current state of findings from the audit of 2019

## Motivation
As we prepare for #13 it is useful, to take a look back current state of Third Party Security audit of 2019. This issue attempted to keep track of status of findings reported https://github.com/kubernetes/kubernete

[2022-08-09 12:53] mtardy commented on #51
We had a discussion about that in the `#release-comms` channel on the Kubernetes Slack that can be found [here](https://kubernetes.slack.com/archives/CNT9Y603D/p1658737351321419). The tl;dr is that a dedicated article could be interesting and that it could be published around Kubernetes v1.25 release, a few days after or a few weeks after!

Here is a link to an early draft of what it could be http

[2022-08-09 18:23] reylejano commented on #13
/remove-lifecycle stale

[2022-08-09 20:52] genevieveluyt commented on #53
Just confirming the time slot still works for us. See you next week!

[2022-08-09 21:57] PushkarJ commented on #53
Awesome! @genevieveluyt or @dani-santos-code can one of you ping me (`PJ`) on kubernetes slack? Would love to get the word about this by tagging on some slack messages to our group.

You can request an invite here: http://slack.k8s.io/ and join here: https://kubernetes.slack.com/

[2022-08-11 18:47] PushkarJ commented on #1
Alpha (in-scope of v1.25) implementation of Auto-refreshing CVE feed is now complete. In other words the feed should be available for consumption once v1.25 is GA.

Feature blog describing this feature is in progress.

[2022-08-12 20:14] cailynse commented on #56
I'm interested in working on this, but would likely need a bit of assistance.

[2022-08-13 01:52] PushkarJ commented on #56
Awesome @cailynse Let me share a draft with you in next couple of weeks with placeholders where you could contribute :)

[2022-08-15 04:30] oliverchang commented on #1
Awesome to hear! Is there any way we can help with getting OSV support for this?

Are there any details on how the CVE JSON feeds are generated?

[2022-08-15 04:41] PushkarJ commented on #1
OSV support is planned for beta stage.

For more details on current implementation please check this: https://github.com/kubernetes/enhancements/issues/3203

[2022-08-16 14:52] sftim commented on #56
I'm an editor for the Kubernetes blog, and I can help introduce folks to other people from the blog editorial side.

[2022-08-22 21:15] sftim commented on #28
I noticed some security advice in https://github.com/kubernetes/website/pull/35511 and thought I'd mention it here.

[2022-08-23 23:02] PushkarJ commented on #1
:sparkles: Kubernetes v1.25 is live :sparkles:

What that means is that the official CVE feed (feature state: alpha) built as part of KEP-3203 is live too. You can find it here:

- Markdown: https://kubernetes.io/docs/reference/issues-security/official-cve-feed
- JSON: https://kubernetes.io/docs/reference/issues-security/official-cve-feed/index.json

Upcoming blog posts to be published on Sept 12

[2022-08-24 08:12] mtardy commented on #51
The blogpost is out: https://kubernetes.io/blog/2022/08/23/podsecuritypolicy-the-historical-context/ 🥳!

/close

[2022-08-24 08:13] #51 closed

[2022-08-30 19:33] PushkarJ commented on #39
Infra k/test-infra PR(s):
https://github.com/kubernetes/test-infra/pull/26896
https://github.com/kubernetes/test-infra/pull/26988
https://github.com/kubernetes/test-infra/pull/26990
 Security k/sig-security PR(s):
https://github.com/kubernetes/sig-security/pull/55
https://github.com/kubernetes/sig-security/pull/57

Fixed by above PRs
/close

[2022-08-30 19:34] #39 closed

[2022-08-30 19:35] PushkarJ commented on #33
Duplicated by #32 and the PRs that fixed it
/close

[2022-08-30 19:35] #33 closed

[2022-08-30 19:36] PushkarJ commented on #2
/unassign
/assign aladewberry

[2022-08-30 19:39] PushkarJ opened #60 "Move Snyk Scripts from k/test-infra to k/sig-security/sig-security-tooling"
As we learnt from https://github.com/kubernetes/test-infra/pull/26896#discussion_r932628360 it is possible for prow to pick up shell scripts outside of `k/test-infra`.

Moving the script that is present here: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-k8s-infra/trusted/sig-security-trusted.yaml#L29-L87 into a dedicated shell script with name `build-deps-and-rel

[2022-08-30 19:50] PushkarJ commented on #60
/hold for https://github.com/kubernetes/test-infra/pull/27309

[2022-09-02 03:19] lakshya8066 commented on #60
Hi @PushkarJ is this issue open for contribution?

[2022-09-02 16:29] PushkarJ commented on #60
Yes the PR blocking it is merged. So you can work on this if you'd like

[2022-09-02 17:52] lakshya8066 commented on #60
/assign

[2022-09-03 00:10] PushkarJ commented on #54
Hi @romdalf since September 6 morning slot is right after a long weekend in the US, I am proposing to move the learning session to Sept 20 instead. Do you have any concerns with that?

[2022-09-03 00:12] romdalf commented on #54
Sounds good to me, It's a go from my side!

[2022-09-03 19:12] #29 closed

[2022-09-06 15:52] raesene commented on #42
This has been merged now woooo https://github.com/kubernetes/website/pull/35908

[2022-09-06 15:52] #42 closed

[2022-09-06 15:54] raesene opened #62 "SIG-Security-Docs idea - Risks of hostPath volumes"
This came up on the API Server bypass page discussions and also in a [slack thread](https://kubernetes.slack.com/archives/C8P1DRTJA/p1661905584043699) that there's some fuzziness about what *exactly* the risks of `hostPath` volumes are, and how easy it would be to break out in various scenarios.

It'd be a nice page to have to bottom out this risk and provide some guidance for cluster operators on

[2022-09-08 16:39] mtardy commented on #62
Big +1 on this one.

Shameless plug but the discussion on slack started from the person bringing this topic maybe being a bit "scared" about hostpaths after reading [this small article](https://blog.quarkslab.com/kubernetes-and-hostpath-a-love-hate-relationship.html) I wrote about the various hostpath vulnerabilities and seeing [the big red warning in the volume doc](https://kubernetes.io/docs/con

[2022-09-13 09:57] angusm43ge commented on #1
This is a great idea.  One observation about the current alpha version  -I picked a few CVEs at random from the list, and when I got into the detail, saw that they were found and resolved in older versions (for ex. 1.5.1).  Support for OSV, which I see is planned for the beta, should sort that out, as the "affected versions" etc items in the schema capture that : https://ossf.github.io/osv-schema/

[2022-09-13 18:56] kevincox commented on #1
The CVE feed is not valid: https://validator.jsonfeed.org/?url=https%3A%2F%2Fkubernetes.io%2Fdocs%2Freference%2Fissues-security%2Fofficial-cve-feed%2Findex.json

Is there any tracking work to ensure that the feed is valid? The most notable issue is that one of the entries (https://github.com/kubernetes/kubernetes/issues/91507) has a `null` ID but all of the entries are also invalid because they co

[2022-09-14 03:41] PushkarJ commented on #1
Thanks @angusm43ge that is good point. It is going to take some work to have meaningful automation to detect affected versions, but we will mark it as a future feature request along with osv like you pointed out.

[2022-09-14 03:45] PushkarJ commented on #1
@kevincox thanks for making me aware that a validator for JSON feed spec exists - I was not aware of this.

We will consider in future, making the feed support the spec fully or move away from the spec with our own modifications that serve the purpose for this feed.

[2022-09-14 11:06] kevincox commented on #1
Thanks. I would highly recommend updating to match the spec because it opens a wide set of tooling for things like automatically notifying people when a new item is posted. But of course if for some reason you don't want to it is definitely better to completely move away and stop pretending than the current "inspired by" version.

[2022-09-14 11:31] sftim commented on #1
@kevincox would you be willing to file this as an issue against [k/website](https://github.com/kubernetes/website/) specifically?

[2022-09-14 11:32] sftim commented on #1
We also need work to make sure that the data that the website consumes are valid too.

[2022-09-14 11:37] kevincox commented on #1
Sure, filed https://github.com/kubernetes/website/issues/36808.

[2022-09-16 09:29] Dentrax opened #63 "CVE Feed: Include a timestamp field for each CVE indicating when it was last updated"
**This is a Feature Request**

`-`

**What would you like to be added**

https://kubernetes.io/docs/reference/issues-security/official-cve-feed/index.json

* Add `lastUpdateTime` timestamp field in the root.
* Add `timestamp` field to CVE entry

**Why is this needed**

In the current response, there is no `lastUpdateTime` field. So it's challenging to distinguish when the CVE Feed is actually upda

[2022-09-16 15:33] sftim commented on #63
Once the upstream feed has this data, we may also want changes to [k/website](https://github.com/kubernetes/website/) to make that last updated information available.

For example, we could calculate an overall last-updated for the whole feed, and put that onto https://kubernetes.io/docs/reference/issues-security/official-cve-feed/ as text.

[2022-09-16 15:34] sftim commented on #1
https://github.com/kubernetes/sig-security/issues/63 is a feature request on the same topic

[2022-09-19 04:40] PushkarJ commented on #54
@romdalf are you still on for Sept 20 8:30 AM to 9:15 AM PDT timeslot?

[2022-09-20 19:13] krol3 commented on #1
Excellent feature! Congrats to the team, we could add more information about the impacted component, for example in the PRs we have more information that we could add in the json, for example:
- Vulnerable versions
- Mitigations
- Fixed versions
- Vulnerable configurations
- Action required
- Vulnerability impact

[2022-09-26 09:37] sftim commented on #28
We created a [checklist](https://kubernetes.io/docs/concepts/security/security-checklist/).

/close

(folks can reopen if they don't agree this is resolved)

[2022-09-26 09:37] #28 closed

[2022-09-26 09:38] sftim commented on #28
I like the idea of making another issue to track further improvements.

[2022-09-26 09:38] mtardy commented on #28
You are correct I should be more confident 😄

[2022-09-26 09:39] sftim commented on #62
How about an [evergreen](https://github.com/kubernetes/website/pull/31934) blog article on the topic?

[2022-09-27 17:53] raesene commented on #62
Some initial brainstorming notes for this one. please expand / edit etc :)

https://hackmd.io/@raesene/BJ9eTy--s/edit

(cc @mtardy )

@sftim Are you thinking blog + docs page, or just a blog?

[2022-09-29 11:49] sftim commented on #62
Just a blog article - if it's evergreen, we can add lots of inbound links from other pages.

Here's an example of an evergreen article that works well and gets referenced: https://kubernetes.io/blog/2020/09/03/warnings/

[2022-10-04 15:08] #56 closed

[2022-10-05 13:03] cailynse commented on #30
/remove-lifecycle rotten

@savitharaghunathan - is this something we could work on in the next cycle with SIG Security Docs?

[2022-10-05 13:03] cailynse commented on #30
/assign

[2022-10-06 16:33] savitharaghunathan commented on #6
/remove-lifecycle rotten

[2022-10-06 16:35] savitharaghunathan commented on #62
/sig security docs

[2022-10-06 17:58] davidhadas opened #64 "REQUEST: Request a Learning session - Security-Guard"
[knative.dev/security-guard](http://knative.dev/security-guard)  - a security-behavior tool added and currently developed in Knative. This tool is also applicable for more generic Kubernetes web service use cases and may later be extended for additional Kubernetes use cases.

Security Guard starts with the assumption that **all microservices deployed are vulnerable** (regardless if due to code vul

[2022-10-06 21:25] PushkarJ commented on #64
Nov 1st is literally right after KubeCon. With people recovering from travel and learning fatigue after the conference, Let's try for 15th Nov if you are ok with that?

[2022-10-06 21:52] davidhadas commented on #64
Ok, so Nov 15 it is.

[2022-10-12 03:50] PushkarJ commented on #64
ok. Perfect! @davidhadas Please add a comment here (as a reminder) around Nov 7 so we can confirm that we are good to go then and I can share the necessary announcements on time.

[2022-10-12 06:06] davidhadas commented on #64
Related doc:
https://docs.google.com/document/d/1RSukdjjwjEkmP-QlNrZ3MrxImO5ikxJaL9-jv7893og/edit?usp=sharing

[2022-10-18 22:24] PushkarJ commented on #21
/remove-lifecycle stale

[2022-10-20 16:23] ericsmalling commented on #30
I'm interested in helping, even if just to help review and learn.

[2022-10-24 15:01] cailynse commented on #30
Awesome! @ericsmalling feel free to pick up a section! I've just been researching and trying to fill in the TODOs from the top down!

[2022-10-28 01:47] s4rd1nh4 opened #67 "CVE Feed: Consider to use other datasource for CVEs"
**This is a Feature Request**
No

**What would you like to be added**
Use other datasource for CVEs because the actual don't show info about rejected or reserved CVEs.

**Why is this needed**
This info generated in [official-cve-feed](https://kubernetes.io/docs/reference/issues-security/official-cve-feed/index.json) is broken

Example: https://www.cvedetails.com/cve-details.php?cve_id=CVE-2022-317

[2022-11-01 15:31] davidhadas commented on #64
New Article: https://developer.ibm.com/articles/secure-microservices-by-monitoring-behavior/

Also, please postpone to Dec 6.

[2022-11-12 19:53] #67 closed

[2022-11-17 18:08] p4ck3t0 opened #69 "Public Community CTF at CNCF/Kube CON EU 2023 AMSTERDAM"
Hey folks,

as we just discussed in the sig-security meeting we are creating a Github issue to define the next steps.

Concretely we want to organize a public community CTF in Jeopardy style for the community, where the members of the CNCF should be involved and can help out with challenges or something similar. This issue should help to track the procedure.

[2022-11-22 02:30] PushkarJ opened #71 "CVE Feed: Add Prow job link as a metadata field"
## Description

Freshness of a feed is dependent on successful scheduled prow job runs. Adding a link to job in the "json" feed and the markdown description, allows folks to look at the prow job to ensure that prow job has been running successfully as recent as few hours ago.

## Details

Add a field named "prow job", under the custom map of `_kubernetes.io` at the top of the feed (not part of eac

[2022-11-22 02:38] PushkarJ opened #72 "CVE Feed: Add `lastUpdatedAt` as a metadata field"
## Description

Freshness of a feed is important to the end users to have guarantees on when it was last updated. Adding a field which tells you whenever the feed was last updated is good step in that direction.

## Details

JSON: Add a field named "lastUpdatedAt", under the custom map of `_kubernetes.io` at the top of the feed (not part of each CVE item) with single value being "<UnixTimeStamp>"

[2022-11-22 02:48] PushkarJ opened #73 "CVE Feed: Sort Markdown Table from most recent to least recently announced CVE"
## Description

To have the most recently `announced` CVE to be at the top of the field will allow everyone to know which was the most recent that they should be aware of. Currently, this is somewhat already happening with table being sorted based on column "Github Issue"

## Details

JSON: No changes needed apart from #63

Markdown: Use the timestamp that depicts when the issue was "closed" i.e.

[2022-11-22 04:11] PushkarJ commented on #63
/retitle CVE Feed: Include a timestamp field for each CVE indicating when it was last updated

(Dividing the scope between this issue and #73 and #72)

[2022-11-27 16:22] davidhadas commented on #64
See related blog post  PR at
https://deploy-preview-38104--kubernetes-io-main-staging.netlify.app/blog/2022/11/27/vulnerable-microservices/

[2022-11-29 17:04] reylejano commented on #2
/remove-lifecycle stale